.pane
  .pane__header
    %h1 Duplicating group

  .pane__body
    .duplication-progress{ data: { controller: "progress-poll",
                                    "progress-poll-url-value" => duplicate_status_our_group_path(@group, task_id: @task.id) } }
      %progress.duplication-progress__bar{ value: @task.copied_avatars,
                                           max: @task.total_avatars,
                                           data: { "progress-poll-target" => "bar" },
                                           aria: { label: "Duplication progress" } }
      %p.duplication-progress__status
        Please wait while your group is being copied. This shouldn't take long.
